button{
    border: black;
    width: 100px;
    height: 60px;
    margin: 10px;
    border-radius: 30px;
    color: black;
    background-color: gray;
    font-size: 22px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer; 
}

button:hover {
    color: white; 
    background-color: black;               
    transform: translateY(-6px); 
    border: 2px solid white;
}
input{
    width: 450px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    background-color: gray;
    box-sizing: border-box;
}


.calculator-box {
    width: 520px;
    padding: 25px;
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
    background-color: black;

}
input::placeholder {
    color: white;
}



@media (max-width: 600px) {

    .calculator-box {
        width: 95%;
        padding: 15px;
    }

    input {
        width: 100%;
        font-size: 28px;
        padding: 15px;
        margin: 10px 0;
    }

    button {
        width: 70px;
        height: 50px;
        margin: 6px;
        font-size: 18px;
        border-radius: 20px;
    }
}


@media (max-width: 400px) {

    button {
        width: 60px;
        height: 45px;
        font-size: 16px;
    }

    input {
        font-size: 24px;
    }
}

.history-box {
    background-color: #111;
    color: #fff;
    padding: 10px;
    margin-top: 15px;
    border-radius: 15px;
    max-height: 150px;
    overflow-y: auto;
    font-size: 16px;
}

.history-box h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    text-align: center;
}

.history-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.history-box li {
    padding: 5px;
    border-bottom: 1px solid #333;
    cursor: pointer;
}

.history-box li:hover {
    background-color: #222;
}


